<div class="row mt-4" *ngIf="!photo; else main_content">
    <h1>Loading... </h1>
</div>
<ng-template #main_content>
    <div class="row mt-4">
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="card" >
                <img [src]="'http://localhost:3000/' + photo.imageUrl" class="card-img-top" />

            </div>
            <div class="d-flex justify-content-center mt-4">
                <button type="button"  class=" btn btn-danger w-50" (click)="deletePhoto(photo._id)" >Delete</button>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="card mt-3">
                <form method="POST" (submit)="updatePhoto(title, description)" class="p-3">
                    <div class="form-group  mb-3">
                        <input type="text" #title class="form-control"  placeholder="Photo's title" [value]="photo.title"  />
                    </div>
                    <div class="form-group mb-3">
                        <textarea rows="2" #description class="form-control" #description placeholder="Photo's description" [value]= "photo.description"></textarea>
                    </div>
                    <div class="form-group mb-3">
                        <button type="submit"  class="form-control btn btn-primary">Update Info</button>
                    </div>
                   
                </form>
                

            </div>
        </div>
    
    </div>

</ng-template>
